* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}
$roboto:'Roboto';
$cursive_font:'Satisfy';
$round:'Varela Round';
$cta:#fe8033;
$bg:#272b34;
$text:#2d343e;
$white:#fff;

body{
  width:100%;
  height:100vh;
  position:relative;
  font-family: $round;
}

.dFlex{
  display: flex;
  justify-content: center;
  align-items:center
}
.container{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  padding:30px 50px 50px;
  box-sizing: border-box;
  background-color:$bg;
}
nav{
  @extend .dFlex;
  justify-content: space-between;
  width:100%;
  color:$white;
  .logo{
    font-size:30px;
    text-transform:uppercase;
  }
  ul{
    @extend .dFlex;
    margin:0;
    padding:0;
    list-style-type: none;
    li{
      font-size:14px;
      margin-left:15px;
      padding:10px;
      box-sizing: border-box;
      color:rgba($white, .7);
      cursor:pointer;
    }
  }//ul
  .search{
    color:rgba($white, .7);
    .fa{
      cursor:pointer;
      +.fa{
        margin-left:15px;
      }
    }
  }
}//nav

.main_content{
  @extend .dFlex;
  position:relative;
  width:90%;
  height:100%;
  margin:auto;
  padding:50px 0 0 0;
  box-sizing: border-box;
  h1{
    text-transform: uppercase;
    font-size:20vw;
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    color:rgba($text, .9);
  }
  .item{
    @extend .dFlex;
    flex-direction: column;
    align-items: flex-start;
    width:50%;
    height:100%;
    position: relative;
    z-index: 2;
    +.item{
     align-items: center; 
    }
    .shadow{
      position:relative;
      img{
        width:30vw;
      }
      &:after{
        content:"";
        width:50%;
        height:20px;
        border-radius: 50%;
        position:absolute;
        left:0;
        bottom:25px;
        box-shadow: 0 30px 20px rgba(0,0,0,.7);
      }
      &:before{
        content:"";
        width:50%;
        height:8px;
        border-radius: 50%;
        position:absolute;
        right:0;
        bottom:7vw;
        box-shadow: 0 30px 20px rgba(0,0,0,.7);
      }
    }//shadow
    .product_details{
      @extend .dFlex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left:5vw;
      color:$white;
      h2{
        font-size:50px;
      }
      p{
        font-size:25px;
        margin-top:5px;
      }
      .price{
        color:$cta;
        font-size:30px;
        margin-top:25px;
        span{
          font-size: 20px;
          display:inline-block;
          vertical-align: top;
        }
      }
    }//product_details
    .cta_group{
      width:100%;
      padding-left:5vw;
      display:flex;
      justify-content: flex-start;
      margin-top:35px;
      .btn{
        width:150px;
        height:50px;
        border-radius: 50px;
        border:1px solid rgba($white, .1);
        color:rgba($white, .5);
        @extend .dFlex;
        cursor:pointer;
        position:relative;
        transition:color .3s cubic-bezier(0.77,0,0.175,1);
        overflow: hidden;
        +.btn{
          margin-left:15px;
        }
        &:after{
          content:"";
          width:0;
          height:100%;
          background-color:$cta;
          position:absolute;
          right:0;
          top:0;
          transition:width .3s cubic-bezier(0.77,0,0.175,1);
          z-index: -1;
        }
        &.active{
          background-color:$cta;
          color:#fff;
          border:none;
        }
        &:hover{
          color:$white;
          border:none;
          &:after{
            width:100%;
            left:0;
          }
        }
      }//btn
    }//cta_group
  }//item
}//main_content

.footer{
  @extend .dFlex;
  width:100%;
  justify-content: space-between;
  margin-top: auto;
  color:rgba($white, .3);
  font-size:12px;
  .social{
    @extend .dFlex;
    .fa{
      width:50px;
      height:50px;
      border-radius: 50px;
      border:1px solid rgba($white, .3);
      @extend .dFlex;
      font-size:14px;
      color:rgba($white, .3);
      cursor:pointer;
      +.fa{
        margin-left:15px;
      }
    }
  }
}
